<!-- templates/base.html -->
<!-- if we want this we can have in, only one page for now tho. -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={%  static "blog/css/blog.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "style/homePage.css" %}/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8dfe4d58bc.js"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<nav id="navbar" style="position: relative">
    <div class="logo">
        <h4>Probit Technologies</h4>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog/">Blog</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
<main>
  <body>
    {% load static %}
    {% block content %}
    {% endblock %}
  </body>
</main>
</html>

