<!doctype html>
<html>
<head>
  <title>Probit.Tech</title>
  <link rel="stylesheet" href="../style/homestyle.css">
</head>

<body>
  <img src="" alt="P~Wave" width="100" height="100" />
  <h3>Probit Technologies L.P</h3>
  <!-- hot links to other sections here -->
  <p>
    <a href="#">About</a> |
    <a href="#">Projects</a> |
    <a href="#">Services</a> |
    <a href="#">Contacts</a> |
    <a href="#">Contributors</a>|
    <a href="#">Disciplines</a>
  </p>
  <p>
    <a href="#">Log In/Out</a> --
    <a href="#">Sign Up</a>
  </p>
  <hr />
<h2>Who We Are</h2>
<p>
  We are Probit Technologies yada yada we do bit and git with wit
</p>
<br>
<h2>What We Are Working On</h2>
<p>
  some sort of project I'm sure
  <ul>
    <li>Novelty RfiD Media Player</li>
    <li>Solcial Calendar</li>
    <li>like some magic mirror or something</li>
    <li>p.s. hey don;t steal these ideas, we'll be sad</li>
  </ul>
</p>
<br>
<h2>What We Offer</h2>
<p>
  we could, like, build you a website or something
</p>
<br>
<table>
  <tr>
    <td style="padding-right: 100px;"><h3>Seth Card </h3></td>
    <td><h3>Evan Card</h3></td>
  </tr>
</table>
<br>
<h2>Contributers/Team</h2>
<table>
  <tr>
    <td style="padding-right: 50px;"><h5>Cole Card</h5></td>
    <td style="padding-right: 50px;"><h5>Jordan Card</h5></td>
    <td style="padding-right: 50px;"><h5>Kevin Card</h5></td>
  </tr>
</table>
<h2>Probit.Others</h2>
<p>
  Probit:
  <ul>
    <li><a href="{% url 'home' %}">.Tech</a></li>
    <li><a href="#">.Blog</a></li>
    <li><a href="#">.Photography</a></li>
    <li><a href="#">.Recruit</a></li>
  </ul>
</p>
<br>
<h2>Contact Us</h2>
<table>
  <tr>
    <td><img src="#" alt="Seth Profile Pic"/></td>
    <td><img src="#" alt="Evan Profile Pic"/></td>
  </tr>
  <tr>
    <td>Seth Angell</td>
    <td>Evan Patterson</td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>(704) 517-3957</li>
        <li>SethAngell.PL@gmail.com</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>(704) 996-6854</li>
        <li>empatte2@ncsu.edu</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><li><a href="{% url 'EvanPatterson' %}">Evan's Portfolio</a></li></td>
    <td><li><a href="{% url 'SethAngell' %}">Seth's Portfolio</a></li></td>
  </tr>
</table>
<br>

<br>



<script src="../script/homescript.js"></script>
</body>
</html>
